<header>
    <h1>{{title}}</h1>
    <h3>Nombre:{{nombre}}</h3>

    <div class="container text-center">
        <div class="row">
          <div class="col" >
            <div class="p-3 mb-2 bg-info-subtle" routerLink="/Inicio">Inicio</div>  
          </div>
          <div class="col" >
            <div class="p-3 mb-2 bg-info-subtle" routerLink="/Asignaturas">Asignaturas</div>  
          </div>
          <div class="col">
            <div class="p-3 mb-2 bg-info-subtle" routerLink="/Preguntas">Preguntas</div>          </div>
        </div>
      </div>

  

</header>
<router-outlet></router-outlet>
